@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase&family=Sono:wght@300&display=swap');
/* h3{
    margin: 10px;
    padding: 10px;
    position: absolute;
    left: 0;

}
h1{
    margin: 100px;
} */
body{
    height: 95vh;
    border: 2px solid black;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
ul{
    list-style-type: none;
    padding: 0;
    
}
li{
    padding: 2%;
}
header{
    padding:2%;
    padding-bottom: 0;
}
/* h4{
    padding-left: 2%;
    padding-top: 0;
} */
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(85, 79, 79);
}
body{
    background-color: lightgray;
    border: 1.4px solid black;
    height: 95vh;
    margin: 20px;
    font-family: 'Cormorant Unicase', serif;
    /* font-family: 'Sono', sans-serif; */
    
    /* box-sizing: border-box; */
    background-image: url("https://media.istockphoto.com/id/1349193574/vector/hand-painted-abstract-watercolor-as-background.jpg?s=612x612&w=0&k=20&c=hn42zlgn39CRDSpES0EIOlgWPeaWizBGGcw1VISyyUA=");
    background-size: cover;
}
#bioText{
    
    position: absolute;
    top: 350px;
    left: 600px;
    
    padding: 10px;
    margin: 20px;
    width:400px;
    

    
}
#about{
    position: absolute;
    top: 300px;
    left: 600px;
    padding: 10px;
    margin: 20px;

}
